<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55427095463-bvb74l2h190jsrs3lj3o541jmssjlgea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55427095463-bvb74l2h190jsrs3lj3o541jmssjlgea</string>
	<key>API_KEY</key>
	<string>AIzaSyAfSU7Ak69HFa1oH-aOORuSG0I5WTREyAE</string>
	<key>GCM_SENDER_ID</key>
	<string>55427095463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastboxApp</string>
	<key>PROJECT_ID</key>
	<string>fastboxappauth</string>
	<key>STORAGE_BUCKET</key>
	<string>fastboxappauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55427095463:ios:67217975870331b42cf482</string>
</dict>
</plist>